

<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RELAZION - Login</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
    <style>
    </style>
</head>
<body class="center">
    <div class="card white">
        <div style="display: flex;align-items: center;justify-content: space-between;">
            <h3 style="">LOGIN</h3>
            <a class="primary btn" href="{% url '' %}">
                &cross;
            </a>
        </div>
        <!-- <a class="btn" href="{% url '' %}">Home</a> -->
        <form action="">
            <fieldset>
                <span>User name</span>
                <input type="text">
            </fieldset>
            <fieldset>
                <span>User name</span>
                <input type="text">
            </fieldset>
            <div style="display: grid;justify-content: center;align-items: center;margin-top: 20px;">
                <button>Valider</button>
                <a href="" style="text-align: center;margin-top: 20px;" class="">nouveau compte</a>

            </div>
        </form>
    </div>
    
</body>
</html>