

<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RELAZION - Registration</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
    <style>
    </style>
</head>
<body class="center">
    <p style="text-align: center;position: sticky;">
        {{message}}
    </p>
   
    <div class="card white">
        <div style="display: flex;align-items: center;justify-content: space-between;">
            <h3 style="">LOGIN</h3>
            <a class="primary btn" href="{% url '' %}">
                &cross;
            </a>
        </div>
        <!-- <a class="btn" href="{% url '' %}">Home</a> -->
        <form action="{% url 'login/login' %}" method="POST">
            {% csrf_token %}
            <fieldset>
                <span>ID</span>
                <input name="id" type="number">
            </fieldset>
            <fieldset>
                <span>Password</span>
                <input type="password" name="password">
            </fieldset>
            <div style="display: grid;justify-content: center;align-items: center;margin-top: 20px;">
                <button>Valider</button>
                <a href="{% url 'registration' %}" style="text-align: center;margin-top: 20px;" class="">nouveau compte</a>
            </div>
        </form>
    </div>
</body>
</html>


