<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RELAZION-Profil</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <style>
        body{
            display: grid;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        body>div{
            display: grid;
            align-items: center;
            justify-content: center;
            text-align: center;
            background: var(--secondary);
            color: var(--black);
            width: 50vw;
        }
    </style>
    <body>
        <div class="card">
           <div>
                <svg style="width: 30%;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                </svg> 
           </div>
                     
            <span style="font-weight: 600;">{{user.names}}</span>
            <span >Skin: <span style='background: {{user.color}};color:color(srgb red green blue)'> {{ user.color }}</span></span>
            <span>Height: {{ user.height }}m</span>
            <span>Genre : {{user.sex}}</span>
            <span>Birthday : {{user.birth}}</span>
            <hr><hr>
            <div>
                <a href="{% url '' %}"  class="btn black">Home page</a>
                <a href="{% url 'users' %}" class="btn black">Users</a>
                <a href="{% url 'deconnexion' %}"  style="background:var(--primary)" class="btn">Deconnexion</a>
             </div>
            <!-- <button>Deconnexion</button> -->
        </div>

        
    </body>
</html>